<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using ZK.SchoolManagerPro.WebPoint.Common

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #C63032;color:white">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("应用程序名称", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("学生管理", "Index", "Students")</li>
    <li>@Html.ActionLink("教师管理","IndexTeacher","Studens")</li>*@
                    <li style="padding-top:15px; padding-left:20px;">欢迎您：@UserHelper.GetUserModel().UserName</li>
                    <li style="padding-top:15px; padding-left:20px;">学号：@UserHelper.GetUserModel().UserNum</li>
                    <li style="margin-left:50px;">@Html.ActionLink("学生管理", "Index", "Students")</li>
                    <li>@Html.ActionLink("教师管理", "IndexTeacher", "Students")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 北京服装学院</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
